/* Hide tabs in favor of sidebery extension */
#TabsToolbar { display: none; }

/* Hide header in (sidebery) sidebar */
#sidebar-box #sidebar-header { display: none !important; }

.navigator-toolbox { display: none !important; }
.sidebar-splitter { display: none !important; }

/* Theming */
:root {
  --window-colour:               #1e1e2e;
  --secondary-colour:            #1e1e2e;
  --inverted-colour:             #cba6f7;

  /* Containter Tab Colours */
  --uc-identity-color-blue:      #89b4fa;
  --uc-identity-color-turquoise: #94e2d5;
  --uc-identity-color-green:     #a6e3a1;
  --uc-identity-color-yellow:    #f9e2af;
  --uc-identity-color-orange:    #fab387;
  --uc-identity-color-red:       #f38ba8;
  --uc-identity-color-pink:      #f5c2e7;
  --uc-identity-color-purple:    #cba6f7;
  --uc-identity-color-url:       #cba6f7;

  --uc-theme-colour:                          var(--window-colour);
  --uc-hover-colour:                          var(--secondary-colour);
  --uc-inverted-colour:                       var(--inverted-colour);

  --button-bgcolor:                           var(--uc-theme-colour)    !important;
  --button-hover-bgcolor:                     var(--uc-hover-colour)    !important;
  --button-active-bgcolor:                    var(--uc-hover-colour)    !important;

  --toolbar-bgcolor:                          var(--uc-theme-colour)    !important;
  --toolbarbutton-hover-background:           var(--uc-hover-colour)    !important;
  --toolbarbutton-active-background:          var(--uc-hover-colour)    !important;
  --toolbarbutton-border-radius:              var(--uc-border-radius)   !important;
  --lwt-toolbar-field-focus:                  var(--uc-theme-colour)    !important;
  --toolbarbutton-icon-fill:                  var(--uc-inverted-colour) !important;
  --toolbar-field-focus-background-color:     var(--secondary-colour)   !important;
  --toolbar-field-color:                      var(--uc-inverted-colour) !important;
  --toolbar-field-focus-color:                var(--uc-inverted-colour) !important;

  --tabs-border-color:                        var(--uc-theme-colour)    !important;
  --tab-border-radius:                        var(--uc-border-radius)   !important;
  --lwt-text-color:                           var(--uc-inverted-colour) !important;
  --lwt-tab-text:                             var(--uc-inverted-colour) !important;

  --lwt-sidebar-background-color:             var(--uc-hover-colour)    !important;
  --lwt-sidebar-text-color:                   var(--uc-inverted-colour) !important;

  --arrowpanel-border-color:                  var(--uc-theme-colour)    !important;
  --arrowpanel-border-radius:                 var(--uc-border-radius)   !important;
  --arrowpanel-background:                    var(--uc-theme-colour)    !important;
  --arrowpanel-color:                         var(--inverted-colour)    !important;

  --autocomplete-popup-highlight-background:  var(--uc-inverted-colour) !important;
  --autocomplete-popup-highlight-color:       var(--uc-inverted-colour) !important;
  --autocomplete-popup-hover-background:      var(--uc-inverted-colour) !important;

  /* URL colour in URL bar suggestions */
  --urlbar-popup-url-color: var(--uc-identity-color-url) !important;
}

/* Container Tabs */
.identity-color-blue      { --identity-tab-color: var(--uc-identity-color-blue)      !important; --identity-icon-color: var(--uc-identity-color-blue)      !important; }
.identity-color-turquoise { --identity-tab-color: var(--uc-identity-color-turquoise) !important; --identity-icon-color: var(--uc-identity-color-turquoise) !important; }
.identity-color-green     { --identity-tab-color: var(--uc-identity-color-green)     !important; --identity-icon-color: var(--uc-identity-color-green)     !important; }
.identity-color-yellow    { --identity-tab-color: var(--uc-identity-color-yellow)    !important; --identity-icon-color: var(--uc-identity-color-yellow)    !important; }
.identity-color-orange    { --identity-tab-color: var(--uc-identity-color-orange)    !important; --identity-icon-color: var(--uc-identity-color-orange)    !important; }
.identity-color-red       { --identity-tab-color: var(--uc-identity-color-red)       !important; --identity-icon-color: var(--uc-identity-color-red)       !important; }
.identity-color-pink      { --identity-tab-color: var(--uc-identity-color-pink)      !important; --identity-icon-color: var(--uc-identity-color-pink)      !important; }
.identity-color-purple    { --identity-tab-color: var(--uc-identity-color-purple)    !important; --identity-icon-color: var(--uc-identity-color-purple)    !important; }

