layout {
    pane size=2 command="hx" focus=true borderless=true {
        args "src/main.rs"
        name "helix"
        // plugin location="zellij:tab-bar"
    }
    pane size=1 command="bacon" {
        args "clippy"
        // plugin location="zellij:status-bar"
    }
}
